doctype html
html
	head
		meta(charset="utf-8")
		title

	body
		h1
			a(href='/topic') Server Side JavaScript
		ul
			each topic in topics
				li
					- rid = encodeURIComponent(topic['@rid'])
					a(href=`/topic/${rid}`)= topic.title
		artcle
			form(action=`/topic/${encodeURIComponent(topicInfo['@rid'])}/edit` method='post')
				p
					input(type='text' name='title' placeholder='title' value=topicInfo.title)
				p
					textarea(name='description' placeholder='description')= topicInfo.description
				p
					input(type='text' name='author' placeholder='author' value=topicInfo.author)
				p
					input(type='submit')