doctype html
html
	head
		meta(charset="utf-8")
		title

	body
		h1
			a(href='/topic') Server Side JavaScript
		ul
			each topic in topics
				li
					- rid = encodeURIComponent(topic['@rid']);
					a(href=`/topic/${rid}`)= topic.title
		artcle
			h2= title
			= desc
			if author
				div= 'by ' + author
		ul
			li
				a(href='/topic/add') add
			if dRid
				li
					a(href=`/topic/${dRid}/edit`) edit
			if dRid
				li
					a(href=`/topic/${dRid}/delete`) delete